:root {
	/* Spacing */
	--form-spacing: 1.375rem;
	--medium-spacing: 2.5rem;
	--large-spacing: 3.5rem;
	--small-spacing: 1rem;

	/* Font Size */
	--large-font: 2.5rem;
	--medium-font: 1.75rem;
	--small-font: 1.25rem;
	--extra-small-font: 1rem;

	/* Color */
	--dark-bg: #393333;
	--light-bg: #fff;
	--accent-color: #16db99;
	--neutral-color: #8b8b8b;
	--border-color: #d2d2d2;
	--shadow-color: #00000080;

	/* Button */
	--btn-width: 100%;
	--btn-padding: 1rem;
	--btn-font-family: "Verdana", Geneva, Tahoma, sans-serif;
	--btn-font-weight: 700;
	--btn-color: #fff;
	--btn-hover-bg: #3c3c3c;
	--btn-hover-color: #fff;
}

body {
	max-width: 1200px;
	margin: 0 auto;
	font-family: "Smythe", serif;
}

header {
	background-image: url("./images/bg\ img.svg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: var(--large-spacing) var(--small-spacing);
}

h1 {
	font-size: var(--large-font);
	color: var(--btn-color);
}

.subtitle {
	font-size: var(--medium-font);
	color: var(--btn-color);
}

h3 {
	font-size: var(--medium-font);
}

#ingredients {
	color: var(--neutral-color);
}

#price {
	font-size: var(--small-font);
}

h1,
.subtitle {
	font-weight: 100;
}

.menu-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
	padding: var(--medium-spacing);
	border-bottom: 1px solid var(--border-color);
}

.menu-item-text {
	margin-right: auto;
}

.menu-item-info {
	display: flex;
	align-items: center;
}

#emoji {
	font-size: 6rem;
	line-height: 1;
}

.add-to-basket-btn {
	border-radius: 50%;
	width: 3.125rem;
	font-family: "Inter", serif;
	font-size: 2rem;
	font-weight: 200;
	border: 1px solid #dedede;
	background-color: var(--light-bg);
	color: var(--neutral-color);
	padding: 0;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.add-to-basket-btn:active,
.add-to-basket-btn:hover {
	background-color: var(--btn-hover-bg);
	color: var(--btn-hover-color);
}

#order-summary-header {
	text-align: center;
}

.order-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: var(--form-spacing);
}

.order-item:last-child {
	padding-bottom: 1.875rem;
}

.order-name-remove {
	display: flex;
	gap: 10px;
}

.order-total {
	display: flex;
	justify-content: space-between;
	border-top: 2px solid var(--dark-bg);
	padding: var(--small-spacing) 0 var(--medium-spacing) 0;
}

.remove-btn {
	border: none;
	background: transparent;
	cursor: pointer;
}

#complete-order-btn,
.submit-payment-btn {
	border: none;
	width: var(--btn-width);
	line-height: 24px;
	font-family: var(--btn-font-family);
	font-weight: var(--btn-font-weight);
	background: var(--accent-color);
	color: var(--btn-color);
	padding: var(--btn-padding);
	cursor: pointer;
	transition: background-color 0.3s;
}

#complete-order-btn {
	margin-bottom: 1rem;
}

.payment-modal-header {
	color: #000;
}

.payment-modal {
	position: fixed;
	font-family: var(--btn-font-family);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 32.75rem;
	height: 33.875rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--light-bg);
	gap: var(--form-spacing);
}

.payment-form {
	display: flex;
	flex-direction: column;
	width: 30rem;
	gap: var(--form-spacing);
}

input[type="text"] {
	height: 4.375rem;
	padding-left: 1.625rem;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999;
}
